.container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-block: auto;
	font-size: 2em;
	gap: var(--spacing-3);
}

.heading {
	color: var(--danger);
}

.error-message {
	font-size: 0.8em;
	background-color: var(--danger);
	color: var(--white);
	opacity: 0.5;
	padding: var(--spacing-1);
	border-radius: var(--radius-1);
}

.theme-switch {
	position: fixed;
	top: var(--spacing-2);
	right: var(--spacing-2);
}