.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	gap: var(--spacing-2);
	padding: var(--spacing-3);
	border-radius: var(--radius-1);

	& > div:not(.form-grid):not(:last-child),
	& > button {
		min-width: fit-content;
		width: 50%;
		max-width: 500px;
	}
}

.form-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 1200px;
	align-content: center;
	gap: var(--spacing-3);
	margin-block: var(--spacing-3);
	width: 100%;
}