.light {
	& > .light-icon {
		transform: rotate(0deg);
	}

	& > .dark-icon {
		transform: rotate(180deg);
	}
}

.dark {
	& > .light-icon {
		transform: rotate(-180deg);
	}

	& > .dark-icon {
		transform: rotate(0deg);
	}
}