.light {
	& > :first-child {
		transform: rotate(0deg);
	}

	& > :last-child {
		transform: rotate(180deg);
	}
}

.dark {
	& > :first-child {
		transform: rotate(-180deg);
	}

	& > :last-child {
		transform: rotate(0deg);
	}
}