@import-normalize;
@import 'https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap';

:root {
	--white: #fcfcfc;
	--black: #333;
	--white-dark: #eee;
	--black-dark: #555;
	--primary: hsl(280deg 100% 60%);
	--secondary: hsl(60deg 100% 35%);
	--danger: hsl(0deg 100% 70%);
	--success: hsl(100deg 100% 40%);
	--info: hsl(200deg 100% 60%);
	--warning: hsl(30deg 100% 60%);
	--transition: 0.2s linear;
	--spacing-0: 5px;
	--spacing-1: 10px;
	--spacing-2: calc(var(--spacing-1) * 2);
	--spacing-3: calc(var(--spacing-1) * 3);
	--border-radius: 5px;
	--border-width: 2px;
	--border-style: solid;
	--border-color: var(--background-dark);

	font-size: 16px;
}

body {
	--background: var(--white);
	--background-dark: var(--white-dark);
	--foreground: var(--black);
	--foreground-dark: var(--black-dark);

	background-color: var(--background);
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color var(--transition);
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#root {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body.dark {
	--primary: hsl(280deg 100% 75%);
	--secondary: hsl(60deg 100% 35%);
	--danger: hsl(0deg 100% 70%);
	--success: hsl(100deg 100% 40%);
	--info: hsl(200deg 100% 60%);
	--warning: hsl(30deg 100% 60%);
	--background: var(--black);
	--background-dark: var(--black-dark);
	--foreground: var(--white);
	--foreground-dark: var(--white-dark);
}

* {
	box-sizing: border-box;
	color: var(--foreground);
	transition: color var(--transition);
	margin: 0;
	padding: 0;
}