@import-normalize;
@import 'https://fonts.googleapis.com/css2?family=Maven+Pro:wght@200;500;800&display=swap';

:root {
	--white: #efefef;
	--black: #333;
	--primary: #99f;
	--secondary: #ff9;
	--danger: #f88;
	--success: #8f8;
	--info: #8bf;
	--warning: #fc6;
	--transition: 0.2s linear;
	--padding-base: 10px;
	--padding-1: calc(var(--padding-base) * 1);
	--padding-2: calc(var(--padding-base) * 2);
	--padding-3: calc(var(--padding-base) * 3);
	--border-radius: 5px;
}

body {
	--background: var(--white);
	--foreground: var(--black);

	background-color: var(--background);
	margin: 0;
	font-family: Manrope, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color var(--transition);
}

body.dark {
	--background: var(--black);
	--foreground: var(--white);
}

* {
	box-sizing: border-box;
	color: var(--foreground);
	transition: color var(--transition);
}