@import-normalize;
@import 'https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap';

:root {
	--white: #fcfcfc;
	--white-dark: #ececec;
	--white-darker: #ccc;
	--black: #333;
	--black-dark: #555;
	--black-darker: #777;
	--transition: 0.2s linear;
	--spacing-0: 5px;
	--spacing-1: 10px;
	--spacing-2: calc(var(--spacing-1) * 2);
	--spacing-3: calc(var(--spacing-1) * 3);
	--border-radius: 5px;
	--border-width: 2px;
	--border-style: solid;
	--border-color: var(--background-dark);

	font-size: 16px;
}

body {
	--background: var(--white);
	--background-dark: var(--white-dark);
	--background-darker: var(--white-darker);
	--shadow: #ccc8;
	--foreground: var(--black);
	--foreground-dark: var(--black-dark);
	--foreground-darker: var(--black-darker);
	--primary: hsl(280deg 100% 60%);
	--primary-dark: hsl(280deg 100% 40%);
	--primary-light: hsl(280deg 100% 80%);
	--primary-contrast: var(--white);
	--secondary: hsl(60deg 100% 35%);
	--secondary-dark: hsl(60deg 100% 15%);
	--secondary-light: hsl(60deg 100% 55%);
	--secondary-contrast: var(--white);
	--danger: hsl(0deg 100% 70%);
	--danger-dark: hsl(0deg 100% 50%);
	--danger-light: hsl(0deg 100% 90%);
	--danger-contrast: var(--white);
	--success: hsl(100deg 100% 40%);
	--success-dark: hsl(100deg 100% 20%);
	--success-light: hsl(100deg 100% 60%);
	--success-contrast: var(--white);
	--info: hsl(200deg 100% 60%);
	--info-dark: hsl(200deg 100% 40%);
	--info-light: hsl(200deg 100% 80%);
	--info-contrast: var(--white);
	--warning: hsl(30deg 100% 60%);
	--warning-dark: hsl(30deg 100% 40%);
	--warning-light: hsl(30deg 100% 80%);
	--warning-contrast: var(--white);

	background-color: var(--background);
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color var(--transition);
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	accent-color: var(--primary);
}

#root {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body.dark {
	--background: var(--black);
	--background-dark: var(--black-dark);
	--background-darker: var(--black-darker);
	--shadow: #7778;
	--foreground: var(--white);
	--foreground-dark: var(--white-dark);
	--foreground-darker: var(--white-darker);
	--primary: hsl(280deg 100% 75%);
	--primary-dark: hsl(280deg 100% 65%);
	--primary-light: hsl(280deg 100% 85%);
	--primary-contrast: var(--white);
	--secondary: hsl(60deg 100% 45%);
	--secondary-dark: hsl(60deg 100% 35%);
	--secondary-light: hsl(60deg 100% 75%);
	--secondary-contrast: var(--white);
	--danger: hsl(0deg 100% 70%);
	--danger-dark: hsl(0deg 100% 55%);
	--danger-light: hsl(0deg 100% 80%);
	--danger-contrast: var(--white);
	--success: hsl(100deg 100% 40%);
	--success-dark: hsl(100deg 100% 30%);
	--success-light: hsl(100deg 100% 70%);
	--success-contrast: var(--white);
	--info: hsl(200deg 100% 60%);
	--info-dark: hsl(200deg 100% 45%);
	--info-light: hsl(200deg 100% 80%);
	--info-contrast: var(--white);
	--warning: hsl(30deg 100% 60%);
	--warning-dark: hsl(30deg 100% 45%);
	--warning-light: hsl(30deg 100% 80%);
	--warning-contrast: var(--white);
}

* {
	box-sizing: border-box;
	color: var(--foreground);
	transition: color var(--transition);
	margin: 0;
	padding: 0;
	text-align: left;
}

main {
	text-align: center;
	height: 100vh;
	width: 100%;
	display: flex;
}

a {
	font-size: 0.9em;
	color: var(--primary);
	text-decoration-thickness: 1px;
	text-decoration-skip-ink: none;
	transition:
		color var(--transition),
		font-weight var(--transition),
		text-decoration-thickness var(--transition);

	&:hover,
	&:focus {
		color: var(--primary-dark);
		font-weight: 500;
		text-decoration-thickness: 2px;
	}
}

input[type='checkbox'],
input[type='radio'] {
	width: 1rem;
	height: 1rem;
}

.tiny {
	--font: 0.6rem;
}

.small {
	--font: 0.8rem;
}

.medium {
	--font: 1rem;
}

.large {
	--font: 1.2rem;
}

.huge {
	--font: 1.4rem;
}

.default {
	--accent: var(--foreground);
	--accent-light: var(--foreground-darker);
	--accent-dark: var(--foreground-dark);
	--accent-contrast: var(--background);
}

.primary {
	--accent: var(--primary);
	--accent-light: var(--primary-light);
	--accent-dark: var(--primary-dark);
	--accent-contrast: var(--primary-contrast);
}

.secondary {
	--accent: var(--secondary);
	--accent-light: var(--secondary-light);
	--accent-dark: var(--secondary-dark);
	--accent-contrast: var(--secondary-contrast);
}

.danger {
	--accent: var(--danger);
	--accent-light: var(--danger-light);
	--accent-dark: var(--danger-dark);
	--accent-contrast: var(--danger-contrast);
}

.success {
	--accent: var(--success);
	--accent-light: var(--success-light);
	--accent-dark: var(--success-dark);
	--accent-contrast: var(--success-contrast);
}

.info {
	--accent: var(--info);
	--accent-light: var(--info-light);
	--accent-dark: var(--info-dark);
	--accent-contrast: var(--info-contrast);
}

.warning {
	--accent: var(--warning);
	--accent-light: var(--warning-light);
	--accent-dark: var(--warning-dark);
	--accent-contrast: var(--warning-contrast);
}

.flat {
	--radius: 0;
}

.rounded {
	--radius: var(--border-radius);
}

.circular {
	--radius: 50%;
}

.flex {
	display: flex;
	align-items: center;
	gap: var(--spacing-1);
}

.column {
	flex-direction: column;
}