.alert {
	border-style: var(--border-style);
	border-width: var(--border-width);
	border-color: var(--black-darker);
	color: var(--black);
	background-color: var(--accent-light);
	font-size: var(--font);
	line-height: 1.5;
	font-weight: 500;
	padding: var(--spacing-0);
	border-radius: var(--radius-1);
	transition: color var(--transition), border var(--transition);
}