.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	:global {
		animation: show-area 0.2s linear;
	}
}

.theme-switch {
	position: fixed;
	top: var(--spacing-2);
	right: var(--spacing-2);
}

form.form {
	max-width: min(100%, 700px);
	flex-grow: 0;
	background-color: var(--background-dark);
	border-style: var(--border-style);
	border-width: var(--border-width);
	border-color: var(--background-darker);
	width: min(100%, 575px);
	gap: var(--spacing-1);
	padding: var(--spacing-2);

	& > div {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-2);
	}

	& > svg {
		max-width: 250px;
		padding: 0;
	}
}