.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.theme-switch {
	position: fixed;
	top: var(--spacing-2);
	right: var(--spacing-2);
}

.form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: min(100%, 700px);
	gap: var(--spacing-1);
	padding: var(--spacing-3);
	border-radius: var(--radius-1);
	background-color: var(--background-dark);
	border-style: var(--border-style);
	border-width: var(--border-width);
	border-color: var(--background-darker);
	width: min(100%, 575px);

	& > a:last-child {
		text-align: center;
	}
}

.fields {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing-1);
	margin-block: var(--spacing-2);
}