.container {
	--speed: 0.5s;
	--dot-size: calc(var(--font) * 0.4);

	display: flex;
	align-items: center;
	gap: var(--spacing-0);
	height: var(--font);
	color: inherit;

	&.inherit > .dot {
		background-color: currentcolor;
	}
}

.dot {
	--delay: 0s;

	flex-shrink: 0;
	width: var(--dot-size);
	height: var(--dot-size);
	border-radius: 50%;
	color: inherit;
	background-color: var(--accent);
	animation-name: jump;
	animation-duration: var(--speed);
	animation-delay: calc(var(--speed) * var(--delay));
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	&:nth-child(1) {
		--delay: -0.45;
	}

	&:nth-child(2) {
		--delay: -0.3;
	}

	&:nth-child(3) {
		--delay: -0.15;
	}

	&:nth-child(4) {
		--delay: 0;
	}
}

@keyframes jump {

	/* stylelint-disable-next-line rule-empty-line-before */
	0%,
	100% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(30%);
	}

	75% {
		transform: translateY(-30%);
	}
}