.sidebar {
	--width: 300px;
	--padding: var(--spacing-1);

	display: flex;
	width: var(--width);
	height: 100%;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-slight-dark);
	border-right-width: var(--border-width);
	border-right-style: var(--border-style);
	border-right-color: var(--background-darker);
	transition: width var(--transition);

	& > * {
		padding: var(--padding);
	}
}

.minimized {
	--width: 75px;
	--padding: var(--spacing-0);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: var(--spacing-0);
	padding-bottom: var(--spacing-2);
	border-bottom-width: var(--border-width);
	border-bottom-style: var(--border-style);
	border-bottom-color: var(--background-darker);
}

.logo {
	height: 60px;
}

button.flipped {
	transform: rotate(180deg);
}

.controls {
	gap: var(--spacing-0);
}

.user-details {
	display: flex;
	flex-direction: column;

	& > h5 {
		font-size: 0.8em;
	}

	& > :first-child {
		color: var(--primary);
	}
}

.user-flex {
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--spacing-0);

	& > button {
		margin-left: auto;
	}

	&.column {
		flex-direction: column;

		& > button {
			margin-left: unset;
		}
	}
}

.page-list {
	all: unset;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;

	& > li {
		--accent: var(--foreground-darker);
		--hover-background: var(--background-darker);

		display: flex;
		all: unset;
		box-sizing: border-box;

		& > a {
			all: unset;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			overflow: hidden;
			gap: var(--spacing-0);
			cursor: pointer;
			transition: background-color var(--transition), color var(--transition);
			padding: var(--spacing-1);

			&:hover,
			&:focus {
				background-color: var(--hover-background);
			}

			& > svg {
				width: 30px;
				height: 30px;
				flex-shrink: 0;
				transition: width var(--transition);

				& > path {
					fill: var(--accent);
				}
			}

			& > p {
				all: unset;
				box-sizing: border-box;
				margin: 0;
				font-size: 1em;
				font-weight: 500;
				color: var(--accent);
				overflow: hidden;
				text-overflow: ellipsis;
				flex-grow: 1;
				flex-shrink: 1;
			}

			&:global(.active) {
				--accent: var(--primary);

				&:hover,
				&:focus {
					--hover-background: var(--primary-light);
					--accent: var(--primary-dark);
				}
			}
		}

		&.minimized {
			& > a > svg {
				width: 100%;
			}
		}
	}
}