.container {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;
	overflow-x: hidden;
	padding: var(--spacing-1);

	&.empty {
		justify-content: center;
		align-items: center;
		font-size: 3em;
	}
}

.table {
	table-layout: fixed;
}