.error {
	& > label {
		color: var(--danger);
	}

	& > input {
		border-color: var(--danger);
	}
}

.field {
	--accent: var(--foreground);
	--focus-accent: var(--primary);

	display: flex;
	flex-direction: column;
	gap: var(--spacing-0);
	font-size: var(--font);

	& > input,
	& > select {
		all: unset;
		box-sizing: border-box;
		color: var(--accent);
		padding: var(--spacing-1);
		border-width: 2px;
		border-style: solid;
		border-color: var(--background-darker);
		background-color: var(--background);
		border-radius: var(--radius-1);
		text-align: start;
	}

	& > select {
		appearance: auto;
		padding-right: var(--spacing-3);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 5px;
			border-width: 5px;
			border-color: var(--primary);
			border-bottom-color: transparent;
		}
	}

	&:focus-within {
		--accent: var(--primary-dark);

		& > input {
			border-color: var(--primary-light);
		}
	}

	& > * {
		text-align: start;
	}

	& > label {
		color: var(--accent);
		text-transform: capitalize;
		transition: color var(--transition);

		& > .required {
			margin-left: var(--spacing-0);
			color: var(--danger);
		}
	}

	&.error > input,
	&.error > select {
		--accent: var(--danger);

		accent-color: var(--accent);
		border-color: var(--danger);
	}
}

.description-text {
	font-size: 0.8em;
	color: var(--foreground);
}

.error-text {
	font-size: 0.8em;
	color: var(--danger);
}