.button {
	--size: calc(var(--font) * 2.5);
	--contrast: var(--background);
	--accent: var(--foreground);
	--accent-light: var(--foreground-dark);
	--icon-fill: var(--contrast);

	all: unset;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
	width: var(--size);
	height: var(--size);
	background-color: var(--background);
	border-style: var(--border-style);
	border-width: var(--border-width);
	border-color: var(--primary);
	aspect-ratio: 1;
	overflow: hidden;
	cursor: pointer;
	outline-style: var(--border-style);
	outline-width: 0;
	outline-offset: 0;
	outline-color: var(--foreground);
	transition: background-color var(--transition), outline var(--transition);
	position: relative;

	&:hover,
	&:focus {
		background-color: var(--background-dark);
		outline-width: var(--border-width);
		outline-offset: 3px;
	}

	& > svg {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: var(--spacing-0);
		aspect-ratio: 1;
		transform-origin: 50% 100%;
		transition: transform var(--transition);
		fill: transparent;
		position: absolute;
		top: 0;
		left: 0;

		& * {
			fill: var(--icon-fill);
		}
	}

	&.fill {
		--icon-fill: var(--accent-contrast);

		background-color: var(--accent);
		border-color: var(--accent);
		color: var(--accent-contrast);

		&:hover,
		&:focus {
			background-color: var(--accent-light);
		}
	}

	&:not(.fill) {
		--icon-fill: var(--accent);

		background-color: transparent;
		color: var(--accent);

		&:hover,
		&:focus {
			--icon-fill: var(--accent-contrast);

			background-color: var(--accent);
			color: var(--accent-contrast);
		}
	}

	&.ghost {
		--icon-fill: var(--accent);

		border-color: transparent;
	}

	&.outline {
		--icon-fill: var(--accent);

		border-style: solid;
		border-width: 2px;
		border-color: var(--accent);
	}
}